body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12;
	background-color: #FACDC1;
}

#top {
	position: sticky;
	top: 0;
	background-color: #FACDC1;
	z-index: 6;
}

h1 {
	font-size: 30;
}

#circle {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	display: flex;
	line-height: 0;
	position: relative;
	z-index: 4;
	vertical-align: top;
}

h3 {
	text-decoration: none;
	font-style: italic;
	text-align: center;
	color: #000000;
	z-index: 3;
}

#info{
	position: relative;
	width: 250px;
	height: 250px;
	text-align: justify;
	z-index: 3;
}

td {
	padding: 30px;
	text-decoration: none;
	color: #000000;
	font-size: 13;
}

#content {
	margin-top: -50px;
}

#line {
	margin-top: 100px;
}