/* to set the font type and size, and the background color for the whole webpage*/
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12;
	background-color: #FACDC1;
}

/* to format the header so that it stays at the top of the webpage at all times*/
#top {
	position: sticky;
	top: 0;
	background-color: #FACDC1;
  z-index: 6;
  text-decoration: none
}

/* to format the links so that they look the same whether they were already visited or not*/
a, a:visited {
  color:#000000;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #000000;
}

/* for the header to appear larger than the body text*/
h1 {
	font-size: 30;
}

/* to change the images into uniformly-sized circles*/
#circle {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	display: flex;
	line-height: 0;
	position: relative;
	z-index: 4;
}

/* to align all of the body text, which is placed in table cells*/
table h4, h5, h6 {
	text-align: center;
	text-decoration: none;
	color: #000000;
}

/* to adjust the font size of the navigation bar*/
nav {
	font-size: 13;
	text-decoration: none;
}

/*taylor nation socmeds*/
#instagram {
	background: url('/images/icon.png') no-repeat -152px -16px;
	width: 56px;
	height: 56px;
	position: relative;
	display: inline-block;
}

#twitter {
	background: url('/images/icon.png') no-repeat -16px -88px;
	width: 56px;
	height: 51px;
	position: relative;
	display: inline-block;
}

#tiktok {
	background: url('/images/icon.png') no-repeat -88px -88px;
	width: 56px;
	height: 51px;
	position: relative;
	display: inline-block;
}

/*ts socmed image sprites*/
#tsfb {
  background: url('/images/icon.png') no-repeat -16px -16px;
	width: 56px;
	height: 56px;
  position: relative;
  display: inline-block;
}
#tsfb:hover {
  background: url('/images/icon.png') no-repeat -352px -16px;
	width: 56px;
	height: 56px;
}

#tstwt {
  background: url('/images/icon.png') no-repeat -16px -88px;
	width: 56px;
	height: 56px;
  position: relative;
  display: inline-block;
}
#tstwt:hover {
  background: url('/images/icon.png') no-repeat -357px -88px;
	width: 56px;
	height: 56px;
}

#tsinsta {
  background: url('/images/icon.png') no-repeat -152px -16px;
	width: 56px;
	height: 56px;
  position: relative;
  display: inline-block;
}
#tsinsta:hover {
  background: url('/images/icon.png') no-repeat -488px -16px;
	width: 56px;
	height: 56px;
}

#tsspotify {
  background: url('/images/icon.png') no-repeat -152px -288px;
	width: 56px;
	height: 56px;
  position: relative;
  display: inline-block;
}
#tsspotify:hover {
  background: url('/images/icon.png') no-repeat -488px -288px;
	width: 56px;
	height: 56px;
}

#tsyt {
  background: url('/images/icon.png') no-repeat -88px -16px;
	width: 56px;
	height: 56px;
  position: relative;
  display: inline-block;
}
#tsyt:hover {
  background: url('/images/icon.png') no-repeat -424px -16px;
	width: 56px;
	height: 56px;
}

footer h5 {
  text-align: left;
}